<div class="container">
	<% if @task.user_id == current_user.id %>

		<h1>タスクを編集する</h1>

		<%= render 'form', task: @task %>

		<%= link_to 'タスクを表示', @task %> |
		<%= link_to 'タスク一覧に戻る', tasks_path %>
	</div>
  <% else %>
    <div class="attention">
      <i class="fas fa-exclamation-circle"></i>
        <p>タスクへのアクセス権がありません。</p>
        <%= link_to 'タスク一覧へ戻る', tasks_path %>
    </div>
  <% end %>
