* {
  margin: 0;
  padding: 0;
  font-family: 'Open+Sans', 'Noto Sans JP';
}

header {
  background-color: #C10000;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a.home_link {
    font-weight: 800;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }
  nav {
    float: right;
    a {
      text-decoration: none;
      margin: 3px;
      font-size: 15px;
      font-weight: 600;
      &:visited {
        color: #fff;
      }
    }
  }
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  // color: #000;

  // &:visited {
  //   color: #666;
  // }

  &:hover {
    color: #fff;
    opacity: .9;
    // background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.sidebar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #222;
  border: solid 1px #aaa;
  border-left: none;
  border-radius: 0 5px 5px 0;
  position: fixed;
  bottom: 30px;
  left: 0;
    i {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
  }
}

.side_bar {
  z-index: 100;
  position: fixed;
  left: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #555;
  transition: all 400ms 0s ease;
  h2 {
    color: #fff;
    font-weight: 500;
    margin: 30px 25px 20px 25px;
  }
  ul {
    margin: 25px;
    list-style: none;
    li {
      margin: 8px 0;
      font-size: 16px;
      i {
        text-align: center;
        width: 15px;
        margin: 0 5px;
      }
      a {
        color: #fff;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.open .side_bar {
  transform: translateX(250px);
}