// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color: #fafafa;
}

header {
	.search_form {
		position: relative;
		input {
			width: 250px;
			outline: none;
			border: 1px solid #c1cdd4;
			background: #fff;
			box-shadow: none;
			box-sizing: border-box;
			font-size: 14px;
			line-height: 28px;
			border-radius: 3px 3px 3px 3px;
			height: 35px;
			padding-left: 33px;
			margin: 0 auto;
		}
		i {
			position:absolute;
			top: 50%;
			left: 13%;
			margin-top: -0.5em;
			margin-left: -1.5em;
			opacity: .3;
		}
	}
}
.container {
	.attention {
		margin-top: 50px;
		text-align: center;
		p {
			font-size: 20px;
			font-weight: 600;
			margin: 25px 0;
		}
		i {
			font-size: 180px;
		}
	}
	width: 1000px;
	margin: auto;
	.task {
		background-color: #fff;
		margin: 30px 0 0 0;
		padding: 25px 30px;
		border-radius: 5px;
		h1 {
			margin: 10px 0;
		}
		ul {
			list-style: none;
			li {
				margin: 5px 0;
				font-size: 110%;
			}
		}
		.stars {
			font-size: 18px;
			margin-left: 5px;
			color: #FFC100;
		}
		.status {
			color: #fff;
			font-weight: 500;
			padding: 3px 5px;
			border-radius: 4px;
			margin-left: 10px;
			font-size: 70%;
		}
		.todo {
			background-color: #00bb00;
		}
		.doing {
			background-color: #FF8C00;
		}
		.done {
			background-color: red;
		}
	}
	.boards {
		display: flex;
		width: 100%;
		.board {
			width: 50%;
			background-color: #ededed;
			margin: 20px 8px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #ccc;
			padding-bottom: 35px;
			h2 {
				margin: 0;
				padding: 13px 23px;
				border-radius: 3px 3px 3px 3px;
				background-color: #fdfdfd;
				span {
					float: right;
					color: #fff;
					font-weight: 600;
					background-color: #666;
					border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
					font-size: 70%;
					padding: 3px 12px;
				}
			}
			ul {
				list-style: none;
				.card {
					margin: 16px 12px;
					padding: 8px 28px;
					padding-bottom: 16px;
					border-radius: 3px 3px 3px 3px;
					border: 1px solid #ddd;
					background-color: #fdfdfd;
					.card_body {
						.tags {
							width: 100%;
							margin: 8px 0;
							display: inline-flex;
							justify-content: flex-end;
							.tag {
								font-size: 80%;
								margin: 0 2px;
								padding: 2px 5px;
								border-radius: 5px;
								background-color: #555;
								font-weight: 400;
								a {
									color: #fff;
								}
							}
						}
					}
					a {
						text-decoration: none;
						color: #000;
						&:hover {
							opacity: .5;
						}
					}
					h3 {
						font-size: 20px;
						margin: 10px 0;
					}
					p {
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						margin: 15px 0;
						font-size: 15px;
					}
					.stars {
						font-size: 12px;
						margin-left: 5px;
						color: #FFC100;
					}
					input {
						font-weight: 500;
						font-size: 14px;
						letter-spacing: .1em;
						color: #fff;
						padding: 8px 20px;
						width: 100%;
						border-radius: 6px;
						border: none;
						&:hover {
							opacity: .8;
						}
					}
					.start {
						background-color: #00bb00;
					}
					.finish {
						background-color: #FF8C00;
					}
				}
			}
			.no_content {
				margin: 80px 0;
				font-weight: 600;
				letter-spacing: .08em;
				text-align: center;
				color: #888;
				font-size: 130%;
			}
		}
	}
}

.done {
	.graph {
		margin: 15px 0;
		background-color: #fff;
		padding: 15px 20px 15px 20px;
		border-radius: 4px;
		border: 1px solid #ccc;
		svg {
			display: block;
			margin: 20px auto;
		}
		h2 {
			margin: 10px 15px;
		}
	}
	svg {
		width: 720px;
		margin: 30px auto;
	}
}

.icon_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    vertical-align: top;
	background-color: orange;
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 65px;
	height: 65px;
	box-shadow: 0 0 3px 0 #000;
	.circle_inner {
		font-size: 2.3em;
		color: #fff;
	}
}