<%
=begin%>
 <p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p> 
<%
=end%>

<p>こんにちは <%= @resource.email %>さん!</p>
<p>Folivoraだよ</p>
<p>あなたのアカウントのパスワードを変更するためのリンクが、リクエストされました。</p>

<p>以下のリンクにアクセスしていただき、パスワードの再設定を完了させてください。</p>
<p>これをリクエストされていない場合は、このメールを無視してください。</p>
<p>下記ののリンクにアクセスして新しいパスワードを作成するまで、パスワードは変わりません。</p>

<p><%= link_to 'パスワードを再設定する', ENV['APPLICATION_FRONT_URL'] + "/reset?reset_password_token=" + @token %></p>